<script>
{#window.onscroll = function() {myFunction()};

var header = document.getElementById("header");
var logo = document.querySelector(".img-logo");
var search = document.querySelector(".search-input");
var sticky = header.offsetTop;
var categories = document.querySelector(".categories");

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
    search.style.heigth = "10px";
    logo.style.height = "37px";
    logo.style.width = "50%";
    search.style.height= "36px";
    document.querySelector(".categories").height ="34px";
            header.style.padding = "0px 1px 1px 0px";
    //logo.style.display = "none";
    //categories.style.display = "inline-block";
    /*logo.classList.add("hide-logo");
    user.classList.remove("user");
    user.classList.add("hide-user");
    cart.classList.add("hide-cart");
    search.classList.add("hide-search");
    search.classList.remove("le-search");
    imgLogo.classList.add("hide-img-logo");
    categories.style.display = "block";*/
  } else {
      header.classList.remove("sticky");
      
      
      logo.style.display = "inline-block";
      //categories.style.display = "none";
     /* imgLogo.classList.remove("hide-img-logo");
      logo.classList.remove("hide-logo");
    cart.classList.remove("hide-cart");
    user.classList.remove("hide-user");
    user.classList.add("user");
    search.classList.remove("hide-search");
    search.classList.add("le-search");
    categories.style.display = "none";*/
  }
}#}

</script>
<!-- jQuery Plugins -->
<script src="{{ asset('e-shop/js/jquery.min.js') }}"></script>
<script src="{{ asset('e-shop/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('e-shop/js/slick.min.js') }}"></script>
<script src="{{ asset('e-shop/js/nouislider.min.js') }}"></script>
<script src="{{ asset('e-shop/js/jquery.zoom.min.js') }}"></script>
<script src="{{ asset('e-shop/js/main.js') }}"></script>
<script src="{{ asset('custom/js/adresse.js') }}"></script>
<script src="{{ asset('custom/js/products-paginations.js') }}"></script>
<script type="text/javascript">
  function paginateTable() {
    if( !$('.pagination').length ){
      $('.store-filter .pull-right').html('<div class="pagination"></div>');
    }
      var rowsShown = 3;
      var rowsTotal = $('.product-single').length;
      var numPages = rowsTotal/rowsShown;
      if(rowsTotal > 4){
          for(i = 0;i < numPages;i++) {
              var pageNum = i + 1;
              $('.pagination').append('<li class="page-item"><a class="page-link" rel="'+i+'">'+pageNum+'</a> ');
          }
          $('#list-produits .col-md-3, #list-produits .col-sm-6, #list-produits .col-xs-6').hide();
          $('#list-produits .col-md-3, #list-produits .col-sm-6, #list-produits .col-xs-6').slice(0, rowsShown).show();
          $('.pagination .page-item:first').addClass('active');
          $('.pagination a').bind('click', function(){

              $('.pagination .page-item').removeClass('active');
              $(this).parent().addClass('active');
              var currPage = $(this).attr('rel');
              var startItem = currPage * rowsShown;
              var endItem = startItem + rowsShown;
              $('#list-produits .col-md-3, #list-produits .col-sm-6, #list-produits .col-xs-6').css('opacity','0.0').hide().slice(startItem, endItem).
              css('display','table-row').animate({opacity:1}, 300);
          });
      }
  }
  $('.search-btn').click(function (argument) {
    $('.search-popup').toggle();
  });
</script>
{% include 'frontend/cart/js.html.twig' %}

    <script type="text/javascript" src="{{ asset('carrousel/js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('carrousel/js/jquery.flexslider.js') }}"></script>

