{% extends "base.html.twig" %}
{% block title %}{{ listProducts.name }}{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('custom/css/nouislider.min.css') }}">
<style type="text/css">
.primary-btn{
    width: 100%;
}
.couleur-radio{
    display: none !important;
}
.couleur-label{
    cursor: pointer;
    height: 35px;
    width: 35px;
    padding-left: 2px;
    padding-top: 2px;
}
.couleur-label div::before{

}
.couleur-label div::after{
    content: '';
}
.couleur-label-checked{
    border: 1px solid #000;
}
.section-products{
    width: 90%;
    margin-left: 4.5%;
    background-color: #FFF;
    box-shadow: 0px 0px 24px 1px #ccc;
    padding-bottom: 70px;
}
.section-banners{
    width: 90% !important;
    margin-left: 4.5%;
    position: inherit !important;
    left: inherit !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
.banner>img {
    width: 100%;
    box-shadow: 0px 0px 24px 1px #ccc;
}
#store{
    border: none;
}
.list-products-container {
    margin-left: inherit;
    width: 91%;
    text-align: center;
}
.section-products{
    margin-left: 5%;
}
#main{
        padding: inherit !important;
        padding-right: inherit !important;
    }
.product.three-in-row .sale{
    left: inherit !important;
}


@media only screen and (max-width: 991px){}
#aside {
    margin-bottom: 0;
    display: none;
}
}
</style>
{% endblock %}
{% block body %}
    <!-- NAVIGATION -->
    <div id="navigation">
        <!-- container -->
        <div class="container">
            <div id="responsive-nav">
                <!-- NAVIGATION -->
                {{ render(controller('App\\Controller\\Front\\FrontController::navigation')) }}

                <!-- /NAVIGATION -->
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /NAVIGATION -->

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{{ path('index_page') }}">Accueil</a></li>
                <li class="active">{{listProducts.name}}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section section-products in-filter">
        <!-- container -->
        <div class="container list-products-container">
            <!-- row -->
            <div class="row">
                <!-- ASIDE -->
                

                <!-- MAIN -->
                <div id="main" class="col-md-12">

                    <!-- STORE -->
                    <div id="store">
                        <div id="list-produits">
                            <!-- row -->
                            <div class="row">
                                {% for product in products %}
                                    {% if(product.qte>0) %}
                                    {% set productsLength = products|length %}
                                    <!-- Product Single -->
                                    {% if(productsLength == 2) %}
                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                        <div class="product tow-in-row product-single {{product.pricePromotion and product.pricePromotion<product.price?'product-hot-promotion':'product-hot'}}">
                                    {% elseif(productsLength == 3 or productsLength == 6 or productsLength == 9) %}
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="product three-in-row product-single {{product.pricePromotion and product.pricePromotion<product.price?'product-hot-promotion':'product-hot'}}">
                                    {% else %}
                                    <div class="col-md-3 col-sm-6 col-xs-6">
                                        <div class="product product-single {{product.pricePromotion and product.pricePromotion<product.price?'product-hot-promotion':'product-hot'}}">
                                    {% endif %}
                                        <div class="product-thumb">
                                            <div class="product-label">
                                                {% if(product.createdAt != null) %}
                                            {% set today = "now"|date("now") %}
                                            {% set difference = date(today).diff(date(product.createdAt|date('d/m/Y'))) %}
                                            {{difference.days < 7?'<span>New </span>':''}}
                                            {% endif %}
                                            {% if(product.pricePromotion and product.pricePromotion<product.price) %}
                                                <span class="sale">
                                                    {% set difference = product.price - product.pricePromotion %}
                                                    {% set pourcentage = (difference/product.price)*100 %}
                                                    -{{pourcentage|round}}%
                                                </span>
                                            {% endif %}
                                            </div>
                                            <a href="{{ path('product_page', {slug:product.slug}) }}" class="main-btn quick-view"> Détails</a>
                                            <img src="{{ asset('uploads/products/images/') }}{{ product.image }}" alt="" class="img-product-filter">
                                        </div>
                                        <div class="product-body">
                                            {% if(product.pricePromotion and product.pricePromotion<product.price) %}
                                                <h3 class="product-price">{{product.pricePromotion}} TND<del class="product-old-price">  {{product.price}} TND</del></h3>
                                            {% else %}
                                                <h3 class="product-price">{{product.price}} TND</h3>
                                            {% endif %}
                                            {#<div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o empty"></i>
                                            </div>#}
                                            <h2 class="product-name"><a href="#">{{ product.name }}</a></h2>
                                            {#<div class="product-btns text-center">
                                                {% if is_granted('AUTHENTIFICATED_FULLY') %}
                                                    <button class="main-btn icon-btn add-to-favoris" data-id="{{product.id}}" title="Ajouter à mes favoris"><i class="fa fa-heart"></i></button>
                                                {% endif %}
                                                <button title="Ajouter au panier" class="primary-btn add-to-cart" data-id="{{product.id}}"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i></button>
                                            </div>#}
                                        </div>
                                    </div>
                                    </div>
                                    <!-- /Product Single -->
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- /row -->
                        </div>
                    </div>
                    <!-- /STORE -->
                </div>
                <!-- /MAIN -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
{% endblock %}
{% block javascripts %}
<script>
// window.onscroll = function() {myFunction()};

// var header = document.getElementById("mobile-filterr");
// var sticky = header.offsetTop;

// function myFunction() {
//   if (window.pageYOffset > sticky) {
//     header.classList.add("sticky");
//   } else {
//     header.classList.remove("sticky");
//   }
// }
</script>
{% endblock %}
