{% extends "layoutAdmin.html.twig" %}
{% block stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/select2/select2.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/datatables/extensions/Scroller/css/dataTables.scroller.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('template/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css') }}"/>
    <!-- END PAGE LEVEL STYLES -->
    <style type="text/css">
        .commandes_liste td{
            text-align: left;
            font-weight: 100;
        }
        .commandes_liste .adress, .commandes_liste .nom{
            font-size: 9px;
        }
    </style>
{% endblock %}
{% block title %}Tableau de bord | Commandes{% endblock %}
{% block body %}>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEADER-->
            <!-- BEGIN PAGE HEAD -->
            <div class="page-head">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>Produits <small>Tous</small></h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="{{ path('backoffice_homepage') }}">Tableau de bord</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Produits</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="#">Tous</a>
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                    <div class="portlet box green-haze">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-globe"></i>Commandes
                            </div>
                        </div>
                        <div class="portlet-body">
                            <table class="table table-striped table-hover commandes_liste">
                                <thead>
                                    <tr>
                                        <th>Client</th>
                                        <th>Adresse</th>
                                        <th>Téléphone</th>
                                        <th>Produits</th>
                                        <th>Marchand</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for commande in commandes %}
                                        <tr>
                                            <td class="nom">{{commande.nom}} {{commande.prenom}}</td>
                                            <td class="adress">{{ commande.adress }}</td>
                                            <td>{{ commande.phone }}</td>
                                            <td>
                                                <ul>
                                                    {% for k,product in commande.products %}
                                                        <li><a href="{{ path('product_page', {slug:product}) }}">product {% if(commande.products|length > 1) %}{{k+1}}{% endif %}</a></li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>{{ commande.marchand }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                                <div class="row">
                                <div class="col-md-12">
                                <div class="navigation pull-right">
                                    {{ knp_pagination_render(commandes) }}
                                </div>
                                </div>
                                </div>

                        </div>
                    </div>
                    <!-- END EXAMPLE TABLE PORTLET-->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
{% endblock %}
{% block javascripts %}
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/datatables/extensions/Scroller/js/dataTables.scroller.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('template/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js') }}"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            Demo.init(); // init demo features
        });
    </script>
{% endblock %}
